@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&family=Quicksand:wght@700&display=swap');

:root {
	--font-title: 'Barlow Condensed';
	--font-title-weight: 800;
	--font-body: 'Quicksand';
	--font-body-weight: 700;
	--color-bg: #363636;
}

body {
	background-color: var(--color-bg);
	font-family: var(--font-body);
	font-weight: var(--font-body-weight);
	margin: 0;
}

button {
	color: var(--color-bg);
	cursor: pointer;
	font-size: 1.6rem;
	background-color: white;
	padding: 0.5em 1em;
	border-radius: 0.5rem;
	border: 2px solid black;
	font-family: var(--font-title);
	font-weight: var(--font-title-weight);
	transition: 0.3s;
}

button:hover {
	translate: -2px -2px;
	box-shadow: 4px 4px 0 black;
}

button:active {
	translate: 0 0;
	box-shadow: none;
}

button.primary {
	background-color: #dcdcaf;
}

button.success {
	background-color: #73ee96;
}

button.fail {
	background-color: #f38179;
}

@keyframes pulse {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.05;
	}
	100% {
		scale: 1;
	}
}

.pulse {
	animation: 1.5s pulse infinite ease-in-out;
}
